*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: blue;
    text-align: center;
    width: 100%;
    height: 50px;
    color: white;
    padding-top: 10px;
}
body{
    background-color: rgb(232, 231, 183);
}
.first_container ,.second_container{
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
button{
    background-color: rgb(57, 57, 207);
   width: 100%;
     
  height: 100%;
    color: white;
  

}
